---
layout: index

title: pages.news
---
<div class="blog-cover" style="background-image:url(/uploads/assets/pages/aktuelles/cover_image.jpg);">
  <section>
    <div class="container">
      <h1>{% t landing_page.title %}</h1>
      <h3>{% t landing_page.subtitle %}</h3>
    </div>
  </section>
</div>

<article class="container">
{% for post in paginator.posts %}
  {% unless post.draft %}
    <section class="index">
        <!-- {% if post.author.image %}<img src="/images/{{ post.author.image }}" class="avatar">{% endif %}-->
        <div>
          {% for lang in site.languages %}
            {% unless site.lang == lang %}
              {% if site.lang == 'de' %}
                <h2 class="title"><a href="{{ post.url }}" rel="prefetch">{{ post.title }}</a></h2>
              {% elsif site.lang == 'ru' %}
                <h2 class="title"><a href="{{ post.url | prepend: '/ru'}}" rel="prefetch">{{ post.title }}</a></h2>
              {% endif %}
                <p>{{ post.excerpt }}</p>
                <div class="meta">
                    {% t post.written_by %} <address>{{ post.author.name }}</address> &mdash;
                    <time pubdate datetime="{{ post.date | date: "%Y-%d-%B" }}" title="{{ post.date | date: "%B %d, %Y" }}">{{ post.date | date: "%d-%m-%Y" }}</time>
                </div>
            {% endunless %}
          {% endfor %}
        </div>
        <hr>
    </section>
    {% endunless %}
    {% endfor %}
    <section class="text-center">
      {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/" class="btn btn-outline pagination">‹ {% t post.newer %}</a>
        {% else %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.previous_page_path }}" class="btn btn-outline pagination">‹ {% t post.newer %}</a>
        {% endif %}
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ site.url }}{{ site.baseurl }}{{ paginator.next_page_path }}" class="btn btn-outline pagination">{% t post.older %} ›</a>
      {% endif %}
    </section>
</article>
