<footer class="site-footer">
    <div class="container">
      <div class="row">
        <nav>
          <a href="/">Home</a> &middot;
          <a href="{% if site.lang == 'de' %}/news{% else %}/ru/news{% endif %}">{% t pages.news %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/kloster{% else %}/ru/obitel{% endif %}">{% t pages.about %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/gottesdienste{% else %}/ru/sluzhby{% endif %}">{% t pages.worship %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/pilger{% else %}/ru/palomniki{% endif %}">{% t pages.pilgrims %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/anfahrt{% else %}/ru/kak-naiti{% endif %}">{% t pages.directions %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/freundeskreis{% else %}/ru/popechiteli{% endif %}">{% t pages.freundeskreis %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/kontakt{% else %}/ru/kontakt{% endif %}">{% t pages.contact %}</a> &middot;
          <a href="{% if site.lang == 'de' %}/spenden{% else %}/ru/pozhertvovania{% endif %}">{% t pages.donations %}</a>
          <a href="/impressum">Impressum</a>
        </nav>
      </div>
      <div class="row">
        hello world
      </div>

      <div class="col-md-6">
        <div>
          <p>Copyright © 2018, Kloster des heiligen Hiob</p>
        </div>
      </div>
      <div class="col-md-6">

        <nav class="social">
            <a href="https://www.instagram.com/kloster_hl_hiob_in_munchen/" title="{% t footer.instagram %}" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/people/Kloster-Des-Heiligen-Hiob/100009288324612" title="{% t footer.facebook %}" target="_blank"><i class="fab fa-facebook"></i></a>
            <a href="/feed.xml" title="RSS Feed"><i class="fas fa-rss"></i></a>
        </nav>
      </div>
    </div>
</footer>
