<section class="site-nav">
    <header>
        <nav id="navigation">
            <a class="brand" href="{% if site.lang == 'de' %}/{% else %}/ru{% endif %}">
              <img src="/images/{{ site.inc.logo }}" alt="Inc">
            </a>
            <span id="nav-drawer-menu" onclick="openNav()"><i class="fa fa-bars fa-2x"></i></span>
            <a href="{% if site.lang == 'de' %}/news{% else %}/ru/news{% endif %}">{% t pages.news %}</a>
            <a href="{% if site.lang == 'de' %}/kloster{% else %}/ru/obitel{% endif %}">{% t pages.about %}</a>
            <a href="{% if site.lang == 'de' %}/gottesdienste{% else %}/ru/sluzhby{% endif %}">{% t pages.worship %}</a>

            <a href="{% if site.lang == 'de' %}/verlag{% else %}/ru/izdatelstvo{% endif %}">{% t pages.publishing %}</a>
            <a href="{% if site.lang == 'de' %}/galerie{% else %}/ru/galereya{% endif %}">{% t pages.gallery %}</a>
            <a href="{% if site.lang == 'de' %}/freundeskreis{% else %}/ru/popechiteli{% endif %}">{% t pages.freundeskreis %}</a>
            <a href="{% if site.lang == 'de' %}/kontakt{% else %}/ru/kontakt{% endif %}">{% t pages.contact %}</a>
            <a href="{% if site.lang == 'de' %}/spenden{% else %}/ru/pozhertvovania{% endif %}">{% t pages.donations %}</a>
        </nav>
        <nav class="tagline">
          {% if site.lang == "de" %}
            <a href="{{ site.baseurl_root | append: 'ru' }}" class="btn btn-outline">{% t language_toggle.russian %}</a>
          {% elsif site.lang == "ru" %}
            <a href="{{ site.baseurl_root }}" class="btn btn-outline">{% t language_toggle.german %}</a>
          {% endif %}
        </nav>
    </header>
</section>
