/* The side navigation menu */
#mySidenav {
  z-index: 100;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: gray;
    display: block;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: white;
}

.sidenav a:active {
  color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.site-nav {
    background:#fff;
    height:80px;
    position:relative;
    padding-top:0;
    left:0;
    right:0;
    top:0;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transition:all 0.35s ease;
    z-index:1;

    .caret {
        opacity:0.2;
    }

    .brand-nav img {
        height:50px;
        margin-top:-10px;
    }

    .dropdown {
        display:inline-block;
    }

    nav {
        padding:22px 0px 20px 20px;
        float:left;
        height:80px;
        display:flex;
        align-items: center;
    }

    #navigation {
        padding-right: 0px;

        #nav-drawer-menu {
          display: none;

          .fa {
            font-size: 1.5em;
            margin-top: 4px;
          }
        }

        a {
            border:0;
            margin:0 0.3em;
            display:inline-block;

            &:hover {
                color:$accent;
            }
        }

        > a, .dropdown-toggle  {
            color:#444;
            border:0;
            font-weight:600;
            font-size:15px;
            display:inline-block;
        }

        .dropdown-toggle {
            padding: 6px 0.5em;
            text-align: center;

            &:hover {
                background:#eee;
            }
        }
    }

    .tagline {
        float:right;
        text-align:right;
        font-size:15px;
        font-weight:600;
        padding-right: 20px;

    }
}

body.nav-hidden {
    .site-nav {
        top:-100px;
        transition:all 0.35s ease;
        -webkit-transform: translate3d(0px, 0, 0px);
    }
}
