.parallax {
  overflow-x: hidden;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h1, h3 {
      color:#fff;
      margin:0;
  }

  h1 {
      font-size:2.7em;
      line-height:1.4em;
      font-weight:600;
  }

  @media (max-width: 667px) {
    background-attachment: scroll;
    background-size: auto 100%;
  }

  h3 {
      font-size:1.3em;
      font-weight:400;
  }

  section {
    text-align: center;
    height: 120vh;
    background-color:rgba(0,0,0,0.4);
    padding: 13em 0;
    z-index:10;
  }

  @media (max-width: 600px) {
    section {
      padding: 9em 0;
    }
  }

  @media (max-width: 400px) {
    section {
      padding: 5em 0;
    }
  }

  &.location {
    background-image: url("/uploads/assets/pages/landing_page/kloster.jpg");
  }

  &.church-service {
    background-image: url("/uploads/assets/pages/landing_page/patronatsfest.jpg");
  }

  &.workshops {
    background-image: url("/uploads/assets/pages/landing_page/imkerei.jpg");
  }
}
