---
layout: base
---
<div class="blog-cover" style="background-image:url({{ page.cover_image }});">
  <section>
    <div class="container">
      <h1>{% t landing_page.title %}</h1>
      <h3>{% t landing_page.subtitle %}</h3>
    </div>
  </section>
</div>

<article>
    <div class="container">
        <header>
            <h1 class="title">{% t page.title %}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>
    </div>
</article>
