---
layout: base
---
<div class="blog-cover" style="background-image:url(/images/{{ page.cover_image }});">
  <section>
    <div class="container">
      <h1>{% t landing_page.title %}</h1>
      <h3>{% t landing_page.subtitle %}</h3>
    </div>
  </section>
</div>
<article>

    <div class="container">
        <header>
            <div class="meta">
                {% t post.by %} <address>{{ page.author.name }}</address> &mdash;
                <time pubdate datetime="{{ page.date | date: "%Y-%d-%B" }}" title="{{ page.date | date: "%B %d, %Y" }}">{{ page.date | date: "%d-%m-%Y" }}</time>
            </div>
            <h1 class="title">{{ page.title }}</h1>
            {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </header>

        <section>
            {{ content }}
            {% include _social.html %}
        </section>

        <footer>
            <address>
               {% if page.author.image %}<img src="/images/{{ page.author.image }}">{% endif %}
                <p>{% t post.written_by %} {{ page.author.name }}<br>
                <span class="muted">{{ page.author.bio }}</span>
                </p>
            </address>

        </footer>

        {% if site.inc.disqus.shortname %}
        <section>
            {% include _disqus.html %}
        </section>
        {% endif %}
    </div>
</article>
